**/appsettings.json
.vscode/
FoodStore.Api/bin/
FoodStore.Api/obj/

FoodStore.Contracts/bin/
FoodStore.Contracts/obj/

FoodStore.Services/bin/
FoodStore.Services/obj/

FoodStore.Data/bin/
FoodStore.Data/obj/

FoodStore.XUnitTest/bin/
FoodStore.XUnitTest/obj/